.ethereum-console-container {
    overflow-y: scroll;
    height: 100%;
}

.ethereum-console {
    margin: 10px 10px;
    font-size: 12px;
}

.dark.ethereum-console {
    color: #e1e1e1;
}

.dark-gray.ethereum-console {
    color: #e1e1e1;
}

.flat-light.ethereum-console {
    color: #333333;
}

.dark .ethereum-console-warning {
    color: #FF8A88;
}

.dark-gray .ethereum-console-warning {
    color: #FF8A88;
}

.flat-light .ethereum-console-warning {
    color: #C82829;
}

.ethereum-console .button {
    color: gray;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    margin: 2px 5px;
    text-decoration: none;
}

.ethereum-console .folder {
    cursor: pointer;
}