.contract-container {
    max-height: 500px;
    overflow-y: scroll;
}

.contract .button {
    color: gray;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    padding: 2px;
    text-decoration: none;
}

.contract .long-string {
    overflow-wrap: break-word;
}

.contract .folder {
    cursor: pointer;
}

.contract .error {
    color: red;
}

.contract .ret-container {
    margin-top: 15px;
}

.advanced-btn {
    background-color: white;
    display: inline-block;
    padding: 5px;
    border: solid 1px;
    border-bottom: 0;
    cursor: pointer;
    float: left;
}

.advanced-container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.advanced {
    background-color: white;
    border-top: solid 1px;
    padding-top: 10px;
}