/* a hack for "sandbox settings" dropdown */
.c9-menu-bar #q2.c9-mbar-cont {
    overflow: visible;
}

.btn.eci-btn-default {
    background-color: transparent;
    font-size: 12px;
    padding: 0 6px;
    margin: 0;
    height: auto;
    line-height: 21px;
}

.dark .btn.eci-btn-default { 
    color: #d6d6d6;
}

.dark-gray .btn.eci-btn-default { 
    color: #d6d6d6;
}

.flat-dark .btn.eci-btn-default { 
    color: #d6d6d6;
}

.flat-light .btn.eci-btn-default { 
    color: #333333;
}

#startSandbox {
    min-width: 140px;
}

.flat-light.panel-container {
    height: 100%;
}

.flat-light.panel-container .btn-group {
    height: 100%;
    width: 170px;
}

#startSandbox.stopped div {
    background-image: url('/static/plugins/ethergit.ethereum.sandbox/images/ethereum-dark.png');
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}

#startSandbox.started div {
    background-image: url('/static/plugins/ethergit.ethereum.sandbox/images/ethereum-light.png');
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}

.dark .btn.eci-btn-default:hover {
    border: 1px solid black;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    background-image: -webkit-linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    background-image: -o-linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    background-image: linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    text-shadow: none;
}

.dark-gray .btn.eci-btn-default:hover {
    border: 1px solid black;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(top, rgba(69, 74, 78, 0.75) 0%, rgba(66, 68, 69, 0.81) 55%, rgba(57, 57, 60, 0.91) 55%, rgba(70, 70, 72, 0.83) 100%);
    background-image: -webkit-linear-gradient(top, rgba(69, 74, 78, 0.75) 0%, rgba(66, 68, 69, 0.81) 55%, rgba(57, 57, 60, 0.91) 55%, rgba(70, 70, 72, 0.83) 100%);
    background-image: -o-linear-gradient(top, rgba(69, 74, 78, 0.75) 0%, rgba(66, 68, 69, 0.81) 55%, rgba(57, 57, 60, 0.91) 55%, rgba(70, 70, 72, 0.83) 100%);
    background-image: linear-gradient(top, rgba(69, 74, 78, 0.75) 0%, rgba(66, 68, 69, 0.81) 55%, rgba(57, 57, 60, 0.91) 55%, rgba(70, 70, 72, 0.83) 100%);
    -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    text-shadow: none;
}

.flat-dark .btn.eci-btn-default:hover {
    border: 1px solid black;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    background-image: -webkit-linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    background-image: -o-linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    background-image: linear-gradient(top, rgba(45, 48, 51, 0.75) 0%, rgba(41, 42, 43, 0.81) 55%, rgba(32, 32, 34, 0.91) 55%, rgba(45, 45, 46, 0.83) 100%);
    -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(255, 255, 255, 0.1);
    text-shadow: none;
}

.flat-light .btn.eci-btn-default {
    height: 100%;
    display: inline-table;
    border-width: 0;
    border-radius: 0;
}

.flat-light .btn.eci-btn-default:hover {
    background-color: #E6E6E6;
}

.flat-light .btn.eci-btn-default div {
    display: table-cell;
    vertical-align: middle;
}

.dark .btn.eci-btn-default.active {
    border: 1px solid black;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -moz-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: -webkit-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: -o-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    -webkit-box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    -moz-box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    text-shadow: none;
}

.dark-gray .btn.eci-btn-default.active {
    border: 1px solid black;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -moz-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: -webkit-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: -o-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    -webkit-box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    -moz-box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    text-shadow: none;
}

.flat-dark .btn.eci-btn-default.active {
    border: 1px solid black;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -moz-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: -webkit-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: -o-linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    background-image: linear-gradient(top, #262627 0%, #252525 55%, #191919 55%, #1f1f1f 100%);
    -webkit-box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    -moz-box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    box-shadow: inset 1px 1px #1e1e1e, inset -1px -1px #1e1e1e;
    text-shadow: none;
}

.flat-light .open .btn.eci-btn-default.dropdown-toggle,
.flat-light .btn.eci-btn-default.active {
    font-weight: normal;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    border: 1px solid #dedede;
    border-width: 0 1px;
}

.dropdown-menu.eci-dropdown-menu {
    left: auto;
    min-width: 120px;
    right: 0;
}

.dark .dropdown-menu.eci-dropdown-menu {
    box-shadow: 0 1px 0 0 #353535 inset;
    background: #252525;
    color: #d6d6d6;
}

.dark-gray .dropdown-menu.eci-dropdown-menu {
    box-shadow: 0 1px 0 0 #4f4f4f inset;
    border: 1px solid #1f1f1f;
    background: #3f3f3f;
    color: #d6d6d6;
}

.flat-dark .dropdown-menu.eci-dropdown-menu {
    box-shadow: 0 1px 0 0 #353535 inset;
    background: #252525;
    color: #d6d6d6;
}

.flat-light .dropdown-menu.eci-dropdown-menu {
    background: #ffffff;
    color: #333333;
    margin-top: 0;
}

.panel-container.flat-light .dropdown-menu.eci-dropdown-menu {
    right: 5px;
}

.dropdown-menu.eci-dropdown-menu li {
    font-size: 12px;
    padding: 3px 10px;
    cursor: pointer;
}