.sandbox-panel {
    height: 100%;
    overflow: auto;
    color: white;
}

.sandbox-id {
    padding: 10px;
}

.accounts-container {
    padding: 10px;
}

.account-container {
    font-family: monospace;
}

.account-container .address {
    text-decoration: underline;
}

.account-container .code {
    width: 90%;
    overflow-wrap: break-word;
}

.accounts-container .folder {
    cursor: pointer;
}

.account-container .button {
    color: gray;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    padding: 2px;
    text-decoration: none;
}

.account-container .contract-name {
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    padding: 2px;
    cursor: pointer;
}

.account-container td {
    padding: 3px;
}

.fakehbox > .runbtn {
    display: none;
}