.sandbox-panel {
    height: 100%;
    overflow: auto;
    font-size: 12px;
}

.sandbox-panel.dark {
    color: #e1e1e1;
}

.sandbox-panel.dark-gray {
    color: #e1e1e1;
}

.sandbox-panel.flat-light {
    color: #333333;
    background-color: #F4F9ED;
}

.select-sandbox {
    padding-top: 5px;
}

.sandbox-id {
    position: relative;
    float: left;
    min-width: 180px;
}

.sandbox-id,
.accounts-container {
    padding: 10px;
}

.account-container {
    font-family: monospace;
}

.account-container .address {
    text-decoration: underline;
}

.account-container .code {
    width: 90%;
    overflow-wrap: break-word;
}

.accounts-container .folder {
    cursor: pointer;
}

.account-container .button {
    color: gray;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    padding: 2px;
    text-decoration: none;
}

.account-container .contract-name {
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    padding: 2px;
    cursor: pointer;
}

.dark .account-container .contract-name,
.dark-gray .account-container .contract-name {
    border-color: #B9CA4A;
    color: #B9CA4A;
}

.flat-light .account-container .contract-name {
    border-color: rgb(49, 132, 149);
    color: rgb(49, 132, 149);
}

.dark .account-container .account-name,
.dark-gray .account-container .account-name {
    color: #B9CA4A;
}

.flat-light .account-container .account-name {
    color: rgb(49, 132, 149);
}

.account-container td {
    padding: 3px;
}

.fakehbox > .runbtn {
    display: none;
}

.fakehbox > .preview {
    display: none;
}

/* workaround to show tooltips for tab content */
.tooltip .tooltip-inner {
    max-width: none;
}

.editor_tab .session_page {
    z-index: 110 !important;
    overflow: visible !important;
}

.basic.right {
    z-index: 110 !important;
    overflow: visible !important;
}

.bk-window.dialog {
    overflow: visible !important;
}

/* end */