.ethereum-sandbox-transactions-dialog table {
    width: 100%;
    table-layout: fixed;
}

.ethereum-sandbox-transactions-dialog table td {
    overflow-wrap: break-word;
}

.ethereum-sandbox-transactions-dialog table tr td:nth-child(2) {
    width: 10%;
}

.ethereum-sandbox-transactions-dialog .from {
    cursor: pointer;
}